__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# virtual envs
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# experiment artifacts
wandb/
playground/wandb/
playground/maml_samples/
playground/maml_checkpoints/
playground/checkpoints/
playground/classifier_checkpoints/
playground/checkpoint*

checkpoints_cond/


# data
data/
playground/data/

# logs
*.log

metrics/index/
metrics/checkpoints/
profiling/

playground/env.sh
